@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  color: #e7e5e4;
}

@layer components {
  .button-gold {
    @apply bg-yellow-500 text-stone-900 px-4 py-2 rounded-lg font-bold
           hover:bg-yellow-400 transition cursor-pointer;
  }

  .marketcard-base {
    @apply bg-stone-800 rounded-xl p-5 hover:shadow-md transition;
  }

  .marketcard-question {
    @apply font-medium text-stone-300;
  }

  .marketcard-description {
    @apply font-normal text-stone-400 text-sm mt-1;
  }

  .marketcard-statusbar {
    @apply flex justify-between mt-4 text-sm text-stone-300;
  }
}
